<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.cmu.pocketsphinx.demo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <queries>
        <package android:name="com.google.android.googlequicksearchbox" />
    </queries>

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <meta-data
        android:name="com.google.android.wearable.standalone"
        android:value="true" />

    <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="ocr"/>



    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/cogniteye"
        android:theme="@style/AppTheme"
        android:label="@string/app_name">
        <activity
            android:name=".ModulesActivity" />
        <activity
            android:name=".SpeechRecActivity" />
        <activity
            android:name=".textReading.LivePreviewActivity"
             />

        <activity
            android:name=".textToSpeech.Speech"
             />

        <activity
            android:name=".textReading.CameraXLivePreviewActivity"
             />
        <activity
            android:name=".preference.SettingsActivity"
             />

        <activity
            android:name=".textReading.CameraXSourceDemoActivity"
             />

        <activity
            android:name=".textReading.StillImageActivity"
           />

        <activity
            android:name=".PocketSphinxActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>